.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

.save-notification {
    background-color: #39b300;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  
.notification {
    background-color: #f44336;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  
.notification .close-button {
    background: #d1d1d1;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

.analysis-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin: 0 auto;
}

.route-button-container {
    margin-top: 0px;
}

.route-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.route-button:hover {
    background-color: #0056b3;
}